@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

body {
    font-family: var(--bodyFont);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--colorBlack);
}

p,
span,
ul,
ol,
li,
a {
    margin: 0;
    padding: 0;
    color: var(--paraColor);
}

:root {
    --colorPrimary: #197AFF;
    --paraColor: #636E72;
    --colorBlack: #2D3436;
    --colorWhite: #ffffff;
    --bodyFont: 'Poppins', sans-serif;
    --boxShadow: rgb(0 0 0 / 8%) 0px 4px 12px;



}

.navbar {
    width: 100%;
    height: 90px;
    background: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar .navbar-brand {
    position: relative;
}

.navbar .navbar-brand img {
    width: 150px !important;
    margin-right: 20px;
}

.navbar .navbar-brand p {
    position: absolute;
    left: 100%;
    top: 12px;
    text-transform: capitalize;
    font-size: 14px;
    background: var(--colorPrimary);
    color: var(--colorWhite);
    padding: 5px 15px;
    border-radius: 30px;
}

.navbar .navbar-nav .nav-item .nav-link.active {
    color: #197AFF;
    padding: 10px 20px;
    background: #F1F7FF;
    border-radius: 25px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    margin: 0 6px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #F1F7FF;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    transition: all linear .3s;
    box-shadow: var(--boxShadow);
    color: var(--colorPrimary);
}

.navbar .navbar-nav .nav-item .review {
    width: auto;
    border-radius: 30px;
    padding: 0px 20px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    background: #197AFF;
    color: #F1F7FF;
}

#main {
    margin-top: 140px;
}

#main .sidebar ul li a {
    color: var(--colorBlack);
    font-size: 14px;
    font-weight: 600;
    background: #F1F7FF;
    padding: 11px 30px;
    margin-bottom: 10px;
    margin-top: 0px;
    width: 100%;
    border-radius: 30px;
    text-transform: capitalize;
    transition: all linear .3s;
    border: 1px solid #eee;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

#main .sidebar ul li a:hover {
    color: #197AFF;
}

#main .sidebar ul li:last-child a {
    margin-bottom: 0;
}

#main .sidebar {
    height: 100vh;
    position: sticky;
    top: 140px;
    margin-bottom: 50px;
    overflow: hidden;
    overflow-y: auto;
}

#main .content {
    margin-bottom: 50px;
}

#main .content::-webkit-scrollbar {
    display: none;
}

#general_information h2,
#figmapage h2,
#design_dccessories h2,
#edit_styles h2,
#resources_credits h2,
#welcome h2 {
    margin-bottom: 25px;
    color: var(--colorPrimary);
    font-size: 20px;
    font-weight: 600;
    background: #F1F7FF;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #eee;
}

#general_information p,
#figmapage p,
#design_dccessories p,
#edit_styles p,
#resources_credits p {
    margin-bottom: 20px;
    color: var(--paraColor);
    font-size: 15px;
}

#general_information h3,
#figmapage h3,
#design_dccessories h3,
#edit_styles h3,
#resources_credits h3 {
    font-weight: 600;
    font-size: 18px;
    color: var(--colorBlack);
    margin-bottom: 20px;
    text-transform: capitalize;
}

#figmapage {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-top: 30px;
    border-top-right-radius: 30px;
}

#figmapage ul {
    color: #636E72;
    margin-bottom: 45px;
    list-style: inside;
}

#figmapage ul li {
    margin-bottom: 15px;
    text-transform: capitalize;
}

#edit_styles {
    margin-top: 50px;
}

#edit_styles .image_wraper {
    position: relative;
    height: 280px;
    width: 100%;
}

#edit_styles .image_wraper .img-2,
#edit_styles .image_wraper .img-3 {
    position: absolute;
}

#edit_styles .image_wraper .img-1 {
    width: 260px;
    height: 195px;
}

#edit_styles .image_wraper .img-2 {
    top: 50px;
    left: 200px;
    width: 292px;
    height: 174px;
}

#edit_styles .image_wraper .img-3 {
    left: 400px;
    top: 100px;
    width: 300px;
    height: 180px;
}

#resources_credits ul {
    color: #636E72;
    margin-bottom: 45px;
    list-style: inside;
}

#resources_credits ul li {
    margin-bottom: 15px;
    color: var(--paraColor);
}

#resources_credits ul li a {
    text-transform: capitalize;
    color: var(--colorPrimary);
}

#welcome {
    margin-top: 50px;
}

#welcome img {
    height: 500px !important;
    border: 1px solid #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#design_dccessories .img {
    border-radius: 5px;
    padding: 20px;
    background: #fff;
    text-align: left;
    box-shadow: var(--boxShadow);
}

#edit_styles .edit_styles_item {
    border-radius: 5px;
    padding: 20px;
    background: #fff;
    margin-bottom: 25px;
    text-align: left;
    box-shadow: var(--boxShadow);
}

#resources_credits {
    margin-top: 50px;
}